In [1]:
#concatenation
a="Shobi"
b="V S"
print(a+" "+b)

Shobi V S

In [2]:
#format
age=29
txt="My name is Shobi and am {} years old"
print(txt.format(age))

My name is Shobi and am 29 years old

In [3]:
#escape character
txt="Hello\nWorld"
print(txt)

Hello
World

In [4]:
#Boolean
print(10>45)
print(3<-9)
print(2>0)

False
False
True

# Collection of Data Types
 
 ## List- ordered, changable, allows duplicate
 ## Tuple- ordered, unchangable , allows duplicate
 ## Set - unordered, unchangable,un indexed, won't allow duplicate
 ## Dictionary- ordered, changable, won't allow duplicate

In [5]:
# nested List
X=["mouse",[8,4,6], ["a"]]
print(X[1])   #index

[8, 4, 6]

In [6]:
print(len(X))

3

In [7]:
print(type(X))

<class 'list'>

In [8]:
print(X[0:3])

['mouse', [8, 4, 6], ['a']]

In [9]:
X[1]=[1,2,3,4]   #List is a changable

In [10]:
print(X)

['mouse', [1, 2, 3, 4], ['a']]

In [15]:
#function
def text(name,message):
    print("Hello",name+ " "+message)

text("shobi","morning")

Hello shobi morning

In [16]:
#lambda function
double=lambda x:x*2    #Anonymous function, i.e., function without a name, can take any number of arguments but can have only one expression
print(double(10))

20

In [26]:
new=(34,453,5245,56435,24,6,4,53)
t=tuple (map( lambda x:x+3,new))
print(t)

(37, 456, 5248, 56438, 27, 9, 7, 56)

In [18]:
y=1,2,3,4,5,6,7,8
counter=0
for i in y:
    counter +=1
    print(i)

1
2
3
4
5
6
7
8